* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.35px;
  color: black;
  background-color: white;
}

body {
  min-height: 100vh;
  background-color: rgb(204, 204, 204);
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 13vh;
  max-width: 500px;
  width: 100vw;
  background-color: #777777;
}

.headerContainer {
  height: 14vh;
  max-width: 500px;
  width: 100vw;
}

.logo {
  position: relative;
  top:18%;
  left: 5%;
  margin-bottom: 3%;
  font-size: 35px;
  font-weight: bold;
  font-family: "Allerta stencil";
  color: rgb(211, 230, 128);
}

.fa-house-chimney{
  position: relative;
  top:10%;
  left: 90%;
  font-size: 28;
  line-height: 1;
  color: rgb(204, 204, 204);
}

.footer {
  position:fixed;
  height: 9vh;
  max-width: 500px;
  width: 100vw;
  top:90%;
  padding-top: 1vh;
  padding-right: 1vh;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Allerta stencil";
  text-align: right;
  color: rgb(211, 230, 128);
  background-color: #777777;
}

/* -------------MAIN-------------- */
main {
  position: fixed;
  display: flex;
  top: 33%;
  max-width: 500px;
  width: 100vw;
  height: 35vh;
  justify-content: center;
  align-items: center;
  background: rgb(204, 204, 204);
  border: 1px solid #fff;
  padding: 20px;
  
  
}
.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color:#777777;
}

#physique, #gender, #personality, #vocal {
  padding: 7px;
  margin-bottom: 10px;
}

#submitPhysique {
  padding: 7px;
}

#submit {
  position:fixed;
  z-index: 3;
  width: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Allerta stencil";
  color: rgb(211, 230, 128);
  text-decoration: none;
  text-align: center;
  background-color: #777777;
  border-radius: 15px;
  margin-top: 20px;
}
 
.submit:hover {
  cursor: pointer;
  color:white;
}   


/* ---------HIDDEN --------- */
.suggestionSection {
  padding-top: 20px;
  top: 70%;
}

.suggestionSection a, 
.suggestionSection a:hover, 
.suggestionSection a:focus {
  color: #fff; 
  text-decoration: none;
}

.submitSection_button{
  width:50px;
  height:30px;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.hidden {
  display: flex;
  
}

.startContainer {
  position:fixed;
  display: flex;
  top: 73%;
  max-width: 500px;
  width: 100vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

.startButton {
  display: none;
  position:relative;
  height: 100%;
  width: 30%;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  font-family: "Allerta stencil";
  text-decoration: none;
  color: white;
  background-color: #777777;
}

.startButton:hover {
  cursor: pointer;
  color:rgb(211, 230, 128);
}   

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

/* ----question & OPTIONS----FOR BIG SCREENS */  
.containerQuestion {
   position:fixed;
   z-index: 4;
   display:flex;
   justify-content: center;
   align-items: center;
   top: 22%;
   width: 100%;
   height: 150px;
 }

.question {
   background-color: #777777;
   position:fixed;
   padding-top: 5px;
   z-index: 5;
   height: 100px;
   width: 50%;
   display: flex;
   justify-content: center;
   color: white;
   font-family: "Allerta stencil";
   font-size: 50px;
   text-decoration: none;
   text-align: center;
   border-radius: 15px;
   line-height: 1;
   font-variation-settings: 'opsz', 50;
}
 
.containerOptions {
   background-color: rgb(204, 204, 204);
   position:fixed;
   display:flex;
   flex-direction: row;
   flex-wrap: initial;
   align-items: center;
   justify-content: space-between;
   margin: 0 -5px;
   width: 80%;
   height: 35%;
   right:10%;
   top:35%;
   z-index: 1;
}
 
.item {
   background-color: white;
   height: 54%; 
   top: 20px;
   flex:1;
   padding: 8px;
   border-radius: 25%;
   margin: 0 20px;
   margin-bottom: 20px;
   box-shadow: 4.0px 4.0px 4.0px 4.0px rgba(76, 76, 125, 0.15);
   font-family: 'Darker Grotesque';
   font-size: 50px;
   line-height: 37px;
   cursor:pointer;        
   text-decoration: none;
   color: rgb(5, 5, 5);
   align-items: center;
   text-align:center;
   text-orientation: sideways;
}
   
.item:hover {
   text-decoration: none;
   color: rgb(5, 5, 5);
}
 
.containerButtons {
   position:fixed;
   display:flex;
   justify-content: center;
   align-items: center;
   top: 73%;
   width: 100%;
   height: 5%;
}

.buttonNext {
   position:fixed;
   z-index: 3;
   width: 250px;
   display: none; /*flex;*/
   justify-content: center;
   margin: 0 -5px;
   font-size: 70px;
   font-family: "Allerta stencil";
   color: rgb(211, 230, 128);
   text-decoration: none;
   text-align: center;
   background-color: #777777;
   border-radius: 15px;
}
  
.buttonNext:hover {
   cursor: pointer;
   color:white;
}   

.images {
  position:fixed;
  z-index: 6;
  right:10%;
  top: 49%;
}
.images2 {
  position:fixed;
  z-index: 6;
  left:19%;
  top: 47%;
}
/* --------MEDIA QUERIES---- */    
@media only screen and (min-width: 768px) {
  body {
      padding: 20px;
  }
}
